<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015 NECTEC
  ~   National Electronics and Computer Technology Center, Thailand
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="th.or.nectec.tanrabad.survey">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />


    <application
            android:name=".TanrabadApp"
            android:allowBackup="false"
            android:fullBackupContent="false"
            android:icon="@mipmap/ic_launcher_inverse"
            android:label="@string/app_name"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_key}" />
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="985b93fe45ed65dc37e25e81a8c5ce5ba9c217fa" />


        <activity
            android:name=".presenter.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presenter.PlaceListActivity"
            android:label="@string/define_place_survey"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".presenter.BuildingListActivity"
            android:label="@string/define_building_survey" />
        <activity
            android:name=".presenter.SurveyActivity"
            android:label="@string/title_activity_survey"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.SurveyBuildingHistoryActivity"
            android:label= "@string/survey_building_history" />


        <activity
            android:name=".presenter.BuildingAddActivity"
            android:label="@string/add_building"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".presenter.MapMarkerActivity"
            android:label="@string/add_location" />
    </application>

</manifest>
